.navbar{
    margin-bottom: 20px;
}

.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-between;
}

.py-3{
    padding-left: 1rem!important;
    padding-bottom: 1rem!important;
}

.border-bottom{
    border-bottom-width: 1px !important;
    border-bottom-style: solid!important;
    border-bottom-color: #dee2e6!important;
}

.mb-4{
    padding-bottom: 0%!important;
    padding-top: 0%!important;
}

.px-5{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/* link */
#add-link{
    text-decoration: none;
}