{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% load custom_tags %}

{% load django_template_maths %}

{% block title %}Lista de vagas criadas{% endblock %}

{% block header %}Vagas Criadas{% endblock %}

{% block content %}


{% for job in jobs%}

<div class="card mb-3">
    <div class="card-body">
      <a href="#" id="add-link" class="text-dark"><h5 class="card-title"><b>{{job.title}}</b></h5></a>
      <p class="card-text">
        <b>Escolaridade mínima:</b> {{job.get_compulsory_school_display}}<br>
        <b>Faixa salarial:</b> {{job.get_salary_range_display}} <br>
        <b>Requisitos:</b> {{job.requirements|truncatewords:20}}  
      </p>
    
      <a href="#" class="btn btn-primary">Candidatos
        <span class="badge bg-secondary">{% count_applicants job.title %}</span>
      </a>
      <div class="float-right">
        <button class="btn btn-success mr-1">Editar</button>
        <button class="btn btn-danger">Deletar</button>
      </div>
    </div>
    <div class="card-footer text-muted">
        {% if not job.created_more_than_limit_days %}
            Criado há {{job.created_at|naturaltime}}
        {% else %}
            Criado há mais de 30 dias
        {% endif%}
    </div>
  </div>
  {% endfor %}

  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      {% if jobs.has_previous%}
        
      {% if jobs.number|sub:3 > 0%}
        <li class="page-item">
            <a class="page-link" href="?page=1">Primeira</a>    
        </li>
    {%endif%}
        <li class="page-item">
            <a class="page-link" href="?page={{jobs.previous_page_number}}">Anterior</a>
      </li>

        {% if jobs.number|sub:2 > 0%}
          <li class="page-item">
                <a class="page-link" href="?page={{jobs.number|sub:2}}">{{jobs.number|sub:2}}</a>    
            </li>
          {% endif%}

          <li class="page-item">
                <a class="page-link" href="?page={{jobs.number|sub:1}}">{{jobs.number|sub:1}}</a>    
            </li>

      {% endif %}

      <li class="page-item active" aria-current="page">
        <span class="page-link">{{jobs.number}}</span>
      </li>

      {% if jobs.has_next%}

      <li class="page-item">
          <a class="page-link" href="?page={{jobs.number|add:1}}">{{jobs.number|add:1}}</a>    
        </li>
        
        {% if jobs.number|add:2 <= jobs.paginator.num_pages%}
        <li class="page-item">
            <a class="page-link" href="?page={{jobs.number|add:2}}">{{jobs.number|add:2}}</a>    
        </li>
        {% endif%}

      <li class="page-item">
          <a class="page-link" href="?page={{jobs.next_page_number}}">Próxima</a>
        </li>
        {% if jobs.number|add:3 <= jobs.paginator.num_pages%}
        <li class="page-item">
            <a class="page-link" href="?page={{jobs.paginator.num_pages}}">Última</a>
        </li>
        {% endif %}
        {% endif %}
        
    </ul>
</nav>

        

        

        <!-- <span class="current">
            Page {{jobs.number}} de {{jobs.paginator.num_pages}}
        </span>
     -->
{% endblock %}